<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets async="true">
        <target 
        name="logApp" 
        xsi:type="File" 
        encoding="utf-8" 
        header="DATE TIME|LEVEL|FUNCTION|PROC|MESSAGE" 
        fileName="${basedir}/LogsApp/BizFlow.log" 
        layout="${longdate}|${level:uppercase=true}|${callsite}|${threadid}|${message}"
        archiveAboveSize="10485760"
        maxArchiveFiles="50"
        maxArchiveDays="200"
        archiveNumbering="secuence"
        archiveFileName="LogsApp\BizFlowLog_{###}.log"
        />
		<target
        name="trace"
        xsi:type="File"
        encoding="utf-8"
        header="[${longdate}] --- Trace BizFlow ---"
        fileName="${basedir}/LogsTrace/BizFlowTrace.log"
        layout="${longdate}${threadid}|${message}"
        archiveAboveSize="10485760"
        maxArchiveFiles="50"
        maxArchiveDays="365"
        archiveNumbering="secuence"
        archiveFileName="LogsTrace\BizFlow_{###}.log"
        />
        <target 
        name="ej" 
        xsi:type="File" 
        encoding="utf-8" 
        header="[${longdate}] --- Electronic Journal BizFlow ---" 
        fileName="${basedir}/ElectronicJournal/EJ_${shortdate}.log" 
        layout="[${longdate}] ${message}"
        archiveDateFormat="yyyyMM"
        maxArchiveFiles="50"
        maxArchiveDays="365"
        archiveNumbering="date"
        archiveFileName="ElectronicJournal\EJ_BK_{###}.log"
        />
		<target name="udp" xsi:type="NLogViewer" address="udp4://localhost:7071" />
		<target name="tcp" xsi:type="NLogViewer" address="tcp4://localhost:4505" />
    </targets>
    <rules>
        <logger name="EJ" minlevel="trace" maxlevel="trace" writeTo="ej" />
		<logger name="TRACE" minlevel="trace" maxlevel="trace" writeTo="trace" />
        <logger name="LOG" minlevel="trace" writeTo="logApp" />
		<!-- <logger name="*" minlevel="Trace" writeTo="console,udp,tcp" /> -->
    </rules>
</nlog>